body{
    background-color: rgb(133, 79, 36);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    font-size: 40px;
    text-align: center;
    color: aliceblue;
}

button{
    background-color: rgb(230, 152, 152);
    color: darkgreen;
    align-items: center;
    margin: auto;
    margin-left: 630px;
    border-radius: 5px;
    width: 250px;
    height: 25px;
}
button:hover{
    background-color: rgb(255, 255, 255);
}